.order{
    background: linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7)),url(./Images/connect.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.order .row{
    display: flex;
    background: #fff;
    margin: 2rem 0;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    border-radius: 1rem;
}

.order .row .image{
    flex: 1 1 40%;
}

.order .row form{
    flex: 1 1 40%;
    background: #fff;
    padding: 2rem;
}

.order .row .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.order .row form .box{
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #333;
    text-transform: none;
    background: #f0f0f0;
    width: 100%;
}

.order .row form .address{
    resize: none;
    height: 1rem;
}

.order .row form .box::placeholder{
    text-transform: capitalize;
}


@media (max-width:768px){
    .order .row .image img{
        display: none;
    }
}